<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
</head>
<body>
    <h1>welcome to Employee Managemeent System</h1>
    <h2>Add Employee</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Employee</button>
</form>

<hr>

<h2>Employee List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

    {% for employee in employees %}
    <tr>
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.salary }}</td>
        <td>
            <a href="{% url 'update_employee' employee.id %}">Edit</a>
            <a href="{% url 'delete_employee' employee.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>